<form #videoForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <h1 mat-dialog-title><span>
        <mat-icon>create</mat-icon>{{modalTitle}}
      </span></h1>
  </div>

  <div mat-dialog-content class="mat-dialog-container" flex style="overflow: scroll;  height: 500px;" layout="column">
    <div style="padding-bottom:1px;background-color:#d8d8d8"></div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <input name="Nombre" matInput placeholder="Nombre" [(ngModel)]="insumo.Nombre" />
        </mat-form-field>

      </div>
      <div class="col-sm-6">
        <mat-select name="TipoUnidadMedida" placeholder="Unidad de Medida" [(ngModel)]="insumo.TipoUnidadMedida">
          <mat-option *ngFor="let unidadMedida of TipoUnidadMedidas" [value]="unidadMedida.value">
            {{unidadMedida.viewValue}}
          </mat-option>
        </mat-select>

      </div>
    </div>

  </div>

  <mat-dialog-actions class="mat-dialog-footer" align="end">
    <button color="warn" type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>&nbsp;
    <button type="submit" color="primary" mat-raised-button>{{modalBtnTitle}}</button>
  </mat-dialog-actions>
</form>