<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <img src="../../assets/images/baronecomp.png">


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" #txtUser (blur)="change()" name="user" [(ngModel)]="user">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Usuario</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" #passowrd (blur)="changePass()" name="passowrd" [(ngModel)]="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>




                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="login()">
                        Ingresar
                    </button>
                </div>



            </form>

            <div class="login100-more" style="background-image: url('../../../../assets/images/barone.jpg');">
            </div>
        </div>
    </div>
</div>