.panel-body{
    margin-left: 10%!important;
    margin-top: 5%!important;
}
.card-title{
    font-family: "Poppins", sans-serif!important;
    font-weight: 500!important;
    color: #404852!important;
    margin-bottom: 22px!important;
    font-size: 14px!important;
    text-transform: capitalize!important;
}