<!-- <div *ngIf="isshowfilter && data">
  <search-list [title]="searchTitle" (change)="criteriaChange($event)"></search-list>
</div>
<br />
<div *ngIf="data" class="add-btn-postion">
  <div class="w-2">
    <ng-container *ngFor="let hdrbtn of hdrbtns">
      <button *ngIf="!hdrbtn.ishide" type="button" class="btn btn-primary" (click)="click(hdrbtn,null)">{{hdrbtn.title}}</button>
    </ng-container>
    <button *ngIf="isExporttoCSV && (data!=null && data.length>0)" type="button" class="btn btn-primary" (click)="exporttoCSV()">Export
      to Excel</button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped table-sortable" *ngIf='data ; else loadingScreen;'>
    <thead>
      <tr>
        <th *ngFor="let column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
          {{column.display}}
        </th>
        <th>Acciones</th>
        <ng-container *ngFor="let btn of gridbtns">
          <td *ngIf="!btn.ishide"></td>
        </ng-container>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let row of pdata  | orderby : convertSorting()">
        <td *ngFor="let column of columns">
          <ng-container *ngTemplateOutlet="this[column.template]; context: {column:column, row:row}"></ng-container>

        </td>

        <td>

          <ng-container *ngFor="let btn of gridbtns">

            <button *ngIf="!btn.ishide" mat-icon-button (click)="click(btn,row)" matTooltip="{{btn.title}}">
              <mat-icon>{{btn.icon}}</mat-icon>
            </button>
          </ng-container>
        </td>

      </tr>
    </tbody>

  </table>
  <div *ngIf='data && data.length==0' class="
            alert alert-info" role="alert">no hay registros...
  </div>
  <ng-template #loadingScreen>
    <div class="alert alert-info" role="alert">
      <mat-progress-spinner mode="indeterminate" style="width:50px; height:50px"></mat-progress-spinner>Cargando...
    </div>
  </ng-template>
</div>
<ng-template #text let-column="column" let-row="row">
  {{row[column.variable] | format : column.filter}}
</ng-template>

<ng-template #estado let-column="column" let-row="row">
  <mat-chip-list>
    <mat-chip color="accent">
      <mat-icon matChipAvatar>
        {{row[column.variable] | format : 'estadoicono'}}
      </mat-icon>
      {{row[column.variable] | format : column.filter}}
    </mat-chip>
  </mat-chip-list>
</ng-template>


<ng-template #detallePedido let-column="column" let-row="row">
  <mat-chip-list #chipList>
    <mat-chip #chip *ngFor="let barril of (row[column.variable] | format: column.filter)">
      <span class="spanBadge" matChipAvatar>
        {{barril.cantidad}}
      </span>

      {{barril.nombre}}
    </mat-chip>
  </mat-chip-list>
</ng-template> -->