<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"  id="accordionSidebar">

      

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fa fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Barone <sup>2</sup></div>
              </a>

              <hr class="sidebar-divider my-0">

              <li   *ngFor="let item of navigations" class="nav-item active">
                    <a  *ngIf="!item.hasChildren " class="nav-link" routerLink="{{item.routerPath}}">
                            <mat-icon *ngIf="item.icon !== ''" svgIcon="{{item.icon}}"></mat-icon>
                      <span> {{item.text}}</span></a>
                      <a *ngIf="item.hasChildren"  class="nav-link collapsed" id="linkItem_{{item.text}}" (click)="toggle('collapseOption_' + item.text,'linkItem_' + item.text)" href="javascript:void(0);" data-toggle="collapse" [attr.data-target] ="'collapseOption_' + item.text" aria-expanded="true" [attr.aria-controls]="'collapseOption_' + item.text">
                        <mat-icon *ngIf="item.icon !== ''" svgIcon="{{item.icon}}">{{item.icon}}</mat-icon>
                  <span>{{item.text}}</span>
                </a>
                <div *ngIf="item.hasChildren" id="collapseOption_{{item.text}}" class="collapse "  [attr.aria-labelledby]="'headingTwo_' + item.text" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                      <h6 class="collapse-header">{{item.text}}</h6>
                      <a   class="collapse-item" *ngFor="let child of item.children" routerLinkActive="active" routerLink="{{child.routerPath}}">{{child.text}}</a>
                      
                    </div>
                  </div>
                  </li>


                     
 <!-- Divider -->
 <hr class="sidebar-divider d-none d-md-block">

 <!-- Sidebar Toggler (Sidebar) -->
 <div class="text-center d-none d-md-inline">
   <button class="rounded-circle border-0" id="sidebarToggle" (click)="accordionEnabled('accordionSidebar')"></button>
 </div>
                  
                  
</ul>