<mat-form-field>
  <input matInput [placeholder]="DisplayLabel" name="SelectedItem" [(ngModel)]="SelectedItem" (ngModelChange)="setCliente(SelectedItem)"
    [matAutocomplete]="auto" [formControl]="clienteCtrl" />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      <mat-icon aria-label="Example icon-button with a heart icon">account_box</mat-icon>
      <span>{{item.viewValue}}</span> |
      <small>{{item.smallValue}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>