<div class="panel-body">

  <div class="row">

    <div class="col-sm-4 w-95">


      <mat-form-field>
        <mat-select name="idEstado" placeholder="Estado" [(ngModel)]="barril.idEstado">
          <mat-option *ngFor="let estado of Estados" [value]="estado.value">
            {{estado.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-sm-2">
      <mat-form-field>
        <mat-select name="IdEstilo" placeholder="Estilo" [(ngModel)]="barril.IdEstilo" (ngModelChange)="changeSelect($event)">
          <mat-option *ngFor="let estilo of estilosSelect" [value]="estilo.value">
            {{estilo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <autocomplete-input [data]="clientes" [cliente]="Cliente" (itemSelected)="itemSelected($event)"></autocomplete-input>

    </div>
    <div class="col-sm-2">
      <button class="buttons" mat-raised-button (click)="FiltrarInfo()" id="btnEditarEnvio">Filtrar</button>
      <button class="buttons" mat-raised-button id="btnExportar">Exportar a Excel</button>
    </div>
  </div>
  <div class="row">
    <div class="w-95">
      <data-grid-view #grid [data]="barriles" [columnsToDisplay]="columns"></data-grid-view>
    </div>
  </div>
</div>