<form #videoForm="ngForm" >
  <div>
    <h1 mat-dialog-title><span>
        <mat-icon>create</mat-icon>{{modalTitle}}
      </span></h1>
  </div>

  <div mat-dialog-content class="mat-dialog-container" flex style="overflow: scroll;  height: 500px;" layout="column">
    <div style="padding-bottom:1px;background-color:#d8d8d8"></div>
    <div class="row">
      <div class="col-sm-6">


        <mat-form-field class="w-100">
          <input name="fechaPedido" matInput [matDatepicker]="fechaPedido" placeholder="Fecha de Pedido" [(ngModel)]="pedido.fechaPedido">
          <mat-datepicker-toggle matSuffix [for]="fechaPedido"></mat-datepicker-toggle>
          <mat-datepicker #fechaPedido></mat-datepicker>
        </mat-form-field>


      </div>
      <div class="col-sm-6">



        <mat-form-field class="w-100">
          <input name="fechaPactada" matInput [matDatepicker]="fechaPactada" placeholder="Fecha de Entrega" [(ngModel)]="pedido.fechaPactada">
          <mat-datepicker-toggle matSuffix [for]="fechaPactada"></mat-datepicker-toggle>
          <mat-datepicker #fechaPactada></mat-datepicker>
        </mat-form-field>


      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">


        <autocomplete-input [data]="clientesItems" [DisplayLabel]="'Clientes'" [SelectedItem]="SelectedItem"
          (itemSelected)="itemSelected($event)"></autocomplete-input>


      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-accordion multi="true">
          <mat-expansion-panel [expanded]="true" class="no-shadow">
              <mat-expansion-panel-header fxLayout="row">
                <mat-panel-title>
      
      
                  <h1><span>Barriles</span></h1>
      
                </mat-panel-title>
              </mat-expansion-panel-header>
        <mat-form-field class="w-75">
          <mat-chip-list #chipList>
            <mat-chip #chip *ngFor="let barril of barrilesPedidos" [selectable]="selectable" matBadge="{{barril.cantidad}}"
              matBadgePosition="before" container="body" (hidden)="recordHidden(barril)" #popChip="ngbPopover"
              [removable]="removable" [ngbPopover]="popContent" popoverTitle="Cantidad de Barriles" placement="right"
              [autoClose]="false" (removed)="remove(barril.nombre)">
              {{barril.nombre}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Barriles..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let estilo of filteredEstilos | async" [value]="estilo.Nombre">
              {{estilo.Nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <mat-accordion multi="true">
              <mat-expansion-panel [expanded]="true" class="no-shadow">
                  <mat-expansion-panel-header fxLayout="row">
                    <mat-panel-title>
          
          
                      <h1><span>Productos</span></h1>
          
                    </mat-panel-title>
                  </mat-expansion-panel-header>
          <div id="LupulosForm" class="row">
            <div class="col-sm-12 inline">

             
               
                <div class="row">
                  <div class="col">
                    <grid-prod [gridbtns]="gridbtns" (btnclick)="gridaction($event)" (changeText)="changeCantidadLata($event)"
                      [Title]="'Productos'" [isForProduct]="true"
                       [data]="pedido.DetalleProducto" [columnsToDisplay]="columnProductos"></grid-prod>
                  </div>
                </div>

            </div>
          </div>
              </mat-expansion-panel>
          </mat-accordion>
      </div>
  </div>
    <div class="row">
      <div class="col-sm-6">

        <mat-form-field class="w-75">
          <input matInput placeholder="Total Barriles" name="TotalBarriles" [(ngModel)]="pedido.TotalBarriles" />
        </mat-form-field>


      </div>
      <div class="col-sm-6">

        <mat-form-field class="w-75">
          <input matInput placeholder="Total Latas" name="TotalLatas" [(ngModel)]="pedido.TotalLatas" />
        </mat-form-field>


      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button-group></button-group>
      </div>
    </div>
  </div>
  <mat-dialog-actions class="mat-dialog-footer" align="end">
    <button color="warn" type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>&nbsp;
    <button type="button" color="primary" mat-raised-button (click)="onSubmit()">{{modalBtnTitle}}</button>
  </mat-dialog-actions>
</form>

<ng-template #popContent>
  <div id="popover-content" class="hide">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input class="headerSearch search-query" id="str" name="str" [(ngModel)]="Cantidad" autofocus type="number"
          placeholder="Cantidad..." />
      </div>
    </form>
  </div>
</ng-template>