<div class="row">
  <div class="w-95">

    <!-- <data-grid [columns]="columns"
               [data]="clients"
               [gridbtns]="gridbtns"
               [hdrbtns]="hdrbtns"
               [sort]="sorting"
               [isshowfilter]=true
               [isExporttoCSV]=false
               [exportFileName]="exportFileName"
               [filter]=clientFilter
               (btnclick)="gridaction($event)">
    </data-grid> -->

    <data-grid-view #grid [data]="clients" [PaginatorEnabled]="true" [columnsToDisplay]="columns" [gridbtns]="gridbtns"
      [hdrbtns]="hdrbtns" (btnclick)="gridaction($event)"></data-grid-view>
  </div>
</div>