<div class="row">
  <div class="w-95">
    <!-- <animated-icon [animate]=true></animated-icon>
    <data-grid [columns]="columns"
               [data]="pedidos"
               [gridbtns]="gridbtns"
               [hdrbtns]="hdrbtns"
               [sort]="sorting"
               [isshowfilter]=true
               [isExporttoCSV]=false
               [exportFileName]="exportFileName"
               [filter]=pedidosFilter
               (btnclick)="gridaction($event)">
    </data-grid> -->

    <data-grid-view #grid [data]="pedidos" [PaginatorEnabled]="true" [columnsToDisplay]="columns" [gridbtns]="gridbtns"
      [hdrbtns]="hdrbtns" (btnclick)="gridaction($event)"></data-grid-view>
  </div>
</div>