// .component-container {
//     overflow: auto;
//     height: 90%;
//     height: 90vh;
// }
// .body {
//     font-family: 'Arial', sans-serif;
//     overflow: hidden;
//     color: #474747;
//     -webkit-print-color-adjust:exact;
//     background-color: white;
//    // background: url('../assets/images/barone2.jpg') no-repeat center center fixed; 
  
//     -webkit-background-size: cover;
  
//     -moz-background-size: cover;
  
//     -o-background-size: cover;
  
//     background-size: cover;
// }

// #container {
//     transition: margin-left .5s;
//  //   padding: 20px;
//  height: 100%;
// }

.success-snackbar {
    background: #55b559;
}

.error-snackbar {
    background: #f55145;
}
.warning-snackbar {
    background: #ff9e0f;
}

.info-snackbar {
    background: rgb(7, 99, 236);
}

.mat-snack-bar-container{
    background-color: transparent!important;
    height: 80px!important;
}

.mat-chip {
    overflow: inherit!important;
  }
.w-95{
    width: 95%!important;
    margin-left: 2%;
    
}
.div-button{
    button {
        margin-left:.5%;
    }
}
// .row{
//     margin-right: 0px!important;
// }
// .panel-body{
//    margin-bottom: 15px;
// }
.scrollable {
    overflow-y: scroll;
    height: 600px;
  }

//   .right-aligned-header > .mat-content {
//     justify-content: space-between;
// }

// .mat-content > mat-panel-title, .mat-content > mat-panel-description {
//   flex: 0 0 auto;
// }


.my-headers-align .mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}