<div class="row">
  <div class="w-95">

    <!-- <data-grid [columns]="columns"
               [data]="rangos"
               [gridbtns]="gridbtns"
               [hdrbtns]="hdrbtns"
               [sort]="sorting"
               [isshowfilter]=true
               [isExporttoCSV]=false
               [exportFileName]="exportFileName"
               [filter]=rangoFilter
               (btnclick)="gridaction($event)">
    </data-grid> -->

    <data-grid-view #grid [data]="rangos" [columnsToDisplay]="columns" [gridbtns]="gridbtns" [hdrbtns]="hdrbtns"
      (btnclick)="gridaction($event)"></data-grid-view>
  </div>
</div>