<div class="loader-container" *ngIf="loading">
  <div class="loading loading08">
    <span data-text="C">C</span>
    <span data-text="A">A</span>
    <span data-text="R">R</span>
    <span data-text="G">G</span>
    <span data-text="A">A</span>
    <span data-text="N">N</span>
    <span data-text="D">D</span>
    <span data-text="O">O</span>
  </div>
  <div class="sk-cube-grid">

    <div class="keg">
      <span class="handle"></span>
      <span class="pipe"></span>
    </div>
    <div class="glass">
      <span class="beer"></span>
    </div>
  </div>
</div>