<div class="panel-body">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-2">


      <mat-form-field>
        <input name="fechaDesde" matInput [matDatepicker]="fechaDesde" placeholder="Fecha Desde" [(ngModel)]="pedido.fechaPactada">
        <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
        <mat-datepicker #fechaDesde></mat-datepicker>
      </mat-form-field>


    </div>
    <div class="col-sm-2">


      <mat-form-field>
        <input name="fechaHasta" matInput [matDatepicker]="fechaHasta" placeholder="Fecha Hasta" [(ngModel)]="pedido.fechaPedido">
        <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
        <mat-datepicker #fechaHasta></mat-datepicker>
      </mat-form-field>



    </div>
    <div class="col-sm-2">


      <mat-form-field>
        <mat-select name="idEstado" placeholder="Estado" [(ngModel)]="pedido.Estado">
          <mat-option *ngFor="let estado of Estados" [value]="estado.value">
            {{estado.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-sm-2">
      <autocomplete-input [data]="clientesItems" [DisplayLabel]="'Clientes'" [SelectedItem]="SelectedItem"
        (itemSelected)="itemSelected($event)"></autocomplete-input>

    </div>
    <div class="col-sm-2">
      <button class="buttons" mat-raised-button (click)="FiltrarInfo()" id="btnEditarEnvio">Filtrar</button>
      <button class="buttons" mat-raised-button id="btnExportar">Exportar a Excel</button>
    </div>
  </div>
  <div class="row scrollable">
    <div class="w-95">

      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let item of pedidos">
          <mat-expansion-panel-header>
            <mat-panel-title>

              <mat-panel-title>
                Razon Social: {{item.Cliente.RazonSocial}}
              </mat-panel-title>
              <mat-panel-description>
                Saldo: {{item.Cliente.SaldoCuenta | currency}}
              </mat-panel-description>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <data-grid-view [PaginatorEnabled]="false" #grid [data]="item.movimientos" [columnsToDisplay]="columns"></data-grid-view>


        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>